/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000; /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ce9bb; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #000000; /* creates padding around scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovered over */
}
